<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title><%= title %></title>
  </head>
  <body>
    <h1 class="title"><%=title%></h1>
    <a href="/consoles">Consoles</a>
    <% if (messages) { %>
    <div class="alert alert-danger"><%= messages %></div>
    <% } %>
    <div class="form-container">
      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>ID</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach(category => { %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.id %></td>
            <td>
              <a href="/delCategory/<%= category.id %>">
                <i id="<%= category.id %>" class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <form method="POST" action="/addCategory" class="form">
        <label for="name">Name:</label><br />
        <input type="text" id="name" name="name" /><br />
        <button class="submit" id="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
